.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  a {
    padding: 5px;
    img {
      height: 25px;
    }
  }
}
