.header {
  width: calc(#{$app-width} - 60%);
  display: flex;
  margin: 28px auto;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
  &__logo {
    font-size: 50px;
  }
  &__link {
    padding: 15px;
  }
  &__link:hover,
  .nuxt-link-exact-active {
    color: $second-color;
    text-decoration: underline;
  }
}
/*
text-decoration: none;
  color: $first-color;
  background-position-y: 0;
  background: linear-gradient(180deg, $second-color, $second-color) no-repeat 0
    1.2rem;
  transition: background-position-y 0.15s ease-out;
  &:hover {
    background-position-y: 0;
  }
  */
