.header {
  width: calc(#{$app-width} - 60%);
  display: flex;
  margin: 20px auto 15px auto;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
  &__logo {
    font-size: 50px;
  }
  &__link {
    padding: 15px;
  }
  .nuxt-link-exact-active {
    color: $second-color;
    text-decoration: underline;
  }
}

@media screen and (max-width: 720px) {
  .header {
    width: 100%;
    justify-content: space-around;
  }
}
