.header {
  width: calc(#{$app-width} - 60%);
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid black;
  user-select: none;
  &__logo {
    font-size: 50px;
  }
  &__link {
    padding: 15px;
  }
  &__link:hover,
  .nuxt-link-exact-active {
    color: red;
    text-decoration: underline;
  }
}
