.projects {
  margin-bottom: 20px;
  h1 {
    margin: 7px auto 5px auto;
    padding-bottom: 5px;
    border-bottom: 0.5px solid black;
  }
  button {
    width: 100%;
    text-align: left;
    background-color: inherit;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .active {
    color: red;
  }
}

// ANIMATION
.projectContent {
  margin-bottom: 35px;
}
.appear-enter-active {
  transition: opacity 0.2s, transform 0.2s;
}
.appear-enter {
  opacity: 0;
  transform: translateY(-30px);
}
.appear-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.appear-leave {
  opacity: 1;
}
.appear-leave-to {
  opacity: 0;
}
