* {
  font-family: "Roboto", sans-serif !important;
}
h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 30px auto 5px auto;
}
sub {
  font-size: 14px;
  color: $third-color;
  font-weight: 400;
}
strong {
  display: block;
  font-size: 18px;
  color: $second-color;
  margin: 18px auto 10px auto;
}
b {
  color: $second-color;
}
a {
  font-size: 16px;
  font-weight: 400;
  color: $main-color;
  &:hover {
    color: $second-color;
    text-decoration: underline;
  }
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
button {
  width: 100%;
  text-align: left;
  background-color: inherit;
  cursor: pointer;
  &:hover {
    color: $second-color;
  }
  &:focus {
    outline: 0;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 25px;
    margin: 30px auto 5px auto;
  }
  sub {
    font-size: 13px;
  }
  strong {
    font-size: 16px;
    margin: 18px auto 10px auto;
  }
  a {
    font-size: 15px;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
}
