* {
  font-family: "Roboto", sans-serif !important;
}
h1 {
  font-size: 27px;
  font-weight: 600;
}
h2 {
  font-size: 20px;
  color: grey;
  font-weight: 400;
}
h3 {
  font-size: 17px;
  font-weight: 400;
}
p {
  font-size: 15px;
  font-weight: 300;
}
